@import "src/mixins/settings.scss";

.dashboard {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1440px;

  &__container {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  &__new-releases {
    margin-right: 1rem;
  }

  &__news {
    width: 100%;
    border-radius: 24px;
  }

  &__cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 4rem 1rem 1rem 0;
    justify-content: center;
  }
}
