@import "src/mixins/settings.scss";

.news {
  &__main-article {
    display: flex;
    border-radius: 24px;
    background-color: $black;
  }

  &__main-content {
    margin: 2rem;
  }

  &__main-title {

  }

  &__main-author {
    font-size: 14px;
  }

  &__main-publish-date {
    font-size: 12px;
    border-radius: 12px;
    background: $pink;
    padding: 0.25rem .5rem;
  }

  &__main-description {
    white-space: pre-wrap;
  }

  &__secondary-articles {
    padding: 2rem;
    margin: 1rem 0;
    background-color: rgba(98, 96, 159, 0.25);
    border-radius: 24px;
  }

  &__link {
    display: flex;
    justify-content: flex-end;
  }


  &__img {
    max-height: 100%;
    max-width: 50%;
    border-radius: 24px 0 0 24px;
  }
}
