$dark: #191e2a;
$dark-blue: #222939;
$black: #0e141b;
$white: #ffffff;
$pink: #df1f4f;
$purple: #423452;

// $midnight: #0c070f;
// $olive: #564a05;
// $brown: #4d2e0f;
// $red: #b93c39;
// $light-purple: #62609f;
// $yellow: #ceb122;
// $gray: #c6c5cb;
