@import "src/mixins/settings.scss";

.search {
  margin-bottom: 2rem;

  &__input {
    height: 100%;
    border-radius: 2rem;
    width: 250px;
    padding: 1rem;
    outline: none;
    border: none;
  }
}
