/* You can add global styles to this file, and also import other style files */

$primary: #191e2a;
$secondary: #222939;
$dark: #0e141b;
$white: #ffffff;
$pink: #df1f4f;

$midnight: #0c070f;
$purple: #423452;
$olive: #564a05;
$brown: #4d2e0f;
$red: #b93c39;
$light-purple: #62609f;
$yellow: #ceb122;
$gray: #c6c5cb;

@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: $primary;
  margin: 0;
  color: $white;
  font-family: sans-serif;
  background: #413451;
  background: linear-gradient(135deg, #413451 0%, #0b070e 100%);
}

h1, h2, h3, h4 {
  font-family: 'Open Sans', sans-serif;
}

h2, h3 {
  margin: 0;
}

p {
  font-family: 'Lato', sans-serif;
}

a {
  text-decoration: none;
  color: $white;
}

li {
  list-style: none;
}

button {
  font-family: 'Open Sans', sans-serif;
}
app-dashboard {
  display: flex;
}
