@import "src/mixins/settings.scss";
@import "src/mixins/colors.scss";

* {
  box-sizing: border-box;
}

body, html {
  background-color: $purple;
  margin: 0;
  color: $white;
  font-family: sans-serif;
  // background: $purple;
  // background: linear-gradient(135deg, $purple 0%, $dark 100%);
  background: rgb(14,20,27);
  background: linear-gradient(135deg, rgba(14,20,27,1) 0%, rgba(66,52,82,1) 50%, rgba(98,96,159,1) 100%);
}

h1, h2, h3, h4 {
  font-family: 'Open Sans', sans-serif;
}

h2, h3 {
  margin: 0;font-weight: 600;
}

p, span {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  font-size: 0.875rem;
}

a {
  text-decoration: none;
  color: $white;
}

li {
  list-style: none;
}

button {
  font-family: 'Open Sans', sans-serif;
}

app-dashboard {
  display: flex;
  justify-content: center;
  margin: 1rem;
}
